<settings>

    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>163.162.61.15</host>
            <port>8080</port>
            <nonProxyHosts>master.cloudapp.local,172.30.123.45,163.162.61.164,10.10.10.100,openshift-master.hdc.cselt.it,openshift-node-1.hdc.cselt.it,openshift-node-2.hdc.cselt.it</nonProxyHosts>
        </proxy>
    </proxies>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>eap</id>
                    <url>http://maven.repository.redhat.com/techpreview/all</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>eap</id>
                    <url>http://maven.repository.redhat.com/techpreview/all</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <id>jboss-repository</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>jboss-repository</activeProfile>
    </activeProfiles>
</settings>